exportPattern("^pv")
exportPattern("^NNT")
exportPattern("^sesp")
export("achievable.se.sp")
export("BenefitPlot")
export("ROCplots")
export("argmin")
export("NNTintervalsRetrospective", "NNTintervalsProspective")
exportPattern("^run")
export("binom.confint")
importFrom(stringr, str_dup)
importFrom(xtable, xtable)
import(shiny)
importFrom(magrittr, '%>%')
export('%>%')
importFrom(mvbutils, '%&%')
export('%&%')

