exportPattern("^pv")
exportPattern("^NNT")
exportPattern("^sesp")
export("achievable.se.sp")
export("NNTintervalsRetrospective", "NNTintervalsProspective")
exportPattern("^run")
importFrom(stringr, str_dup)
importFrom(xtable, xtable)
import(shiny)
